/*CSS series*/
.container{
    width: 100%;
    min-height: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.pages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
#back{
    outline: none;
    color: #000;
    width: 30px;
    height: 30px;
}
#next{
    outline: none;
    color: #000;
    width: 30px;
    height: 30px;
}
.number_pages{
    text-align: center;
    width: 30px;
    height: 30px;
    border: solid 0,5px #000;
}
.box{
    margin-top: 20px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.series:hover{
    box-shadow: 0 0px 0 3px gray;
}
.series{ 
    height: 500px;
    min-width: 350px;
    max-width: 400px;
    background-color:aliceblue;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    margin-top: 30px;
}
.series img{
    height: 300px;
    min-width: 300px;
    max-width: 300px;
    align-self: center;
    margin-top: 5px;
}
.series strong{
    text-align: center;
    margin-top: 10px;
}
.series span{
    white-space: nowrap;
    width: 100%;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    line-height: 1.5rem;
    text-overflow:ellipsis;
    overflow: hidden;
}
.link{
    outline: none;
    text-decoration: none ;
    color: #000;
}
@media(max-width: 650px){

    .box{
        display:block;
    }
    .series{
        margin-top: 5%;    
        box-shadow: 0 0px 0 2px gray;
       
    }
    .series strong{
        text-align: center;
        font-size: 18px;
    }
    .container{
        width: 100%;
        min-height: 300px;
        height: auto;
        display: flex;
        align-items: inherit;
    }
}